[submodule "oraibtc"]
	path = oraibtc
	url = https://github.com/oraichain/bitcoin-bridge
	branch = thesis
[submodule "oraibtc-scan"]
	path = oraibtc-scan
	url = https://github.com/perfogic/oraiscan
	branch = master
[submodule "oraibtc-monitoring"]
	path = ibc-monitoring
	url = https://github.com/perfogic/ibc-monitoring
	branch = main